{% load static %}  

<div class="bg-[#232242] text-white p-8 opacity-80">
    <div class="max-w-4xl mx-auto">
      <h2 class="text-3xl font-bold mb-4">
        What <span style='color:#00FF7F'>Maan Soft Institude</span> Courses Offers
      </h2>
      <div class="h-1 w-24  mb-8" style='background:#00FF7F'></div>
      
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex items-center space-x-4">
          <img src="{% static 'core/Images/side.png' %}" alt="Job Focused Training" class="w-16 h-16" />
          <div>
            <h3 class="text-xl font-semibold mb-2">Job Focused Training</h3>
            <p>All courses cover real-world examples with the best techniques, showing how to resolve errors.</p>
          </div>
        </div>
        
        <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex items-center space-x-4">
          <img src= "{% static 'core/Images/side.png' %}" alt="Fast Track Learning" class="w-16 h-16" />
          <div>''
            <h3 class="text-xl font-semibold mb-2">Fast Track Learning</h3>
            <p>Our courses pack tons of features into a short time, making learning quick and easy to understand.</p>
          </div>
        </div>


        <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex items-center space-x-4">
          <img src="{% static 'core/Images/side.png' %}" alt="Fast Track Learning" class="w-16 h-16" />
          <div>
            <h3 class="text-xl font-semibold mb-2">Fast Track Learning</h3>
            <p>Our courses pack tons of features into a short time, making learning quick and easy to understand.</p>
          </div>
        </div>

           <div class="bg-white text-gray-800 p-6 rounded-lg shadow-lg flex items-center space-x-4">
          <img src="{% static 'core/Images/side.png' %}" alt="Fast Track Learning" class="w-16 h-16" />
          <div>
            <h3 class="text-xl font-semibold mb-2">Fast Track Learning</h3>
            <p>Our courses pack tons of features into a short time, making learning quick and easy to understand.</p>
          </div>
        </div>


      </div>
    </div>
  </div>